.field.is-grouped {
    display: flex;
    gap: .75rem;
    justify-content: center;
}

#authorSearchResults {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #a1cfdd;
    border: 4px solid #4c4e69;
    border-radius: 6px;
    width: 18%;
    height: auto;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}